---
import Layout from "../layouts/Layout.astro";
import slide1Pic from "/public/images/1.jpg";
import slide2Pic from "/public/images/2.jpg";
import slide3Pic from "/public/images/3.jpg";
import slide4Pic from "/public/images/4.jpg";
import slide5Pic from "/public/images/5.jpg";
import Image from "astro/components/Image.astro";
import { Wavey, WaveyMirror } from "../components/wavey/wavey";
import {
	BluePillar,
	PinkPillar,
	OrangePillar,
	YellowPillar,
	PurplePillar,
} from "../components/pillar/pillar";
import {
	BlueSplashButton,
	PinkSplashButton,
	OrangeSplashButton,
	YellowSplashButton,
	PurpleSplashButton,
} from "../components/splashButton/splashButton";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="homenav container d-flex justify-content-evenly gap-1">
			<BluePillar>
				<h2 class="h4">2D Art</h2>
				<p>
					WOW project due December 13th
					<br />
					WOW packet p2 due December 13th
					<br />
					Artist statement due December 13th
				</p>
			</BluePillar>
			<PinkPillar>
				<h2 class="h4">3D Art</h2>
				<p>
					WOW project due December 13th
					<br />
					WOW packet p2 due December 13th
					<br />
					Artist statement due December 13th
				</p>
			</PinkPillar>
			<OrangePillar>
				<h2 class="h4">Graphic Design</h2>
				<p>Brochure due November 26th</p>
			</OrangePillar>
			<YellowPillar>
				<h2 class="h4">Ceramics</h2>
				<p>
					WOW project due December 13th
					<br />
					WOW packet p2 due December 13th
					<br />
					Artist statement due December 13th
				</p>
			</YellowPillar>
			<PurplePillar>
				<h2 class="h4">Innovators</h2>
				<p>Automata due November 25th</p>
			</PurplePillar>
		</div>
		<Wavey className="d-flex align-items-center" waveColor="#d7d0ff">
			<div class="container">
				<div
					class="d-flex justify-content-evenly align-items-center gap-3 flex-column flex-md-row"
				>
					<BlueSplashButton href={"/2d-art"}>
						2D Art
					</BlueSplashButton>
					<PinkSplashButton href={"/3d-art"}>
						3D Art
					</PinkSplashButton>
					<OrangeSplashButton href={"/graphic-design"}>
						Graphic Design
					</OrangeSplashButton>
					<YellowSplashButton href={"/ceramics"}>
						Ceramics
					</YellowSplashButton>
					<PurpleSplashButton href={"/innovators"}>
						Innovators
					</PurpleSplashButton>
				</div>
			</div>
		</Wavey>
		<WaveyMirror
			waveColor="#ffdfcc"
			style={{ ["marginTop" as string]: "-7rem" }}
		>
			<h2 class="text-center">Featured Student Work</h2>
			<div
				class="container d-flex align-items-center justify-content-center"
			>
				<div id="homeCarousel" class="carousel slide">
					<div class="carousel-indicators">
						<button
							type="button"
							data-bs-target="#homeCarousel"
							data-bs-slide-to="0"
							class="active"
							aria-current="true"
							aria-label="Slide 1"></button>
						<button
							type="button"
							data-bs-target="#homeCarousel"
							data-bs-slide-to="1"
							aria-label="Slide 2"></button>
						<button
							type="button"
							data-bs-target="#homeCarousel"
							data-bs-slide-to="2"
							aria-label="Slide 3"></button>
						<button
							type="button"
							data-bs-target="#homeCarousel"
							data-bs-slide-to="3"
							aria-label="Slide 4"></button>
						<button
							type="button"
							data-bs-target="#homeCarousel"
							data-bs-slide-to="4"
							aria-label="Slide 5"></button>
					</div>
					<div class="carousel-inner text-center">
						<div class="carousel-item active">
							<Image src={slide1Pic} alt="..." width={600} />
							<div class="carousel-caption d-none d-md-block">
								<h5>MJ Tenney</h5>
							</div>
						</div>
						<div class="carousel-item">
							<Image src={slide2Pic} alt="..." width={600} />
							<div class="carousel-caption d-none d-md-block">
								<h5>Lydia Stamp</h5>
							</div>
						</div>
						<div class="carousel-item">
							<Image src={slide3Pic} alt="..." width={600} />
							<div class="carousel-caption d-none d-md-block">
								<h5>Kenzi Wallroff</h5>
							</div>
						</div>
						<div class="carousel-item">
							<Image src={slide4Pic} alt="..." width={600} />
							<div
								class="carousel-caption d-none d-md-block text-primary"
							>
								<h5>Brooklyn Richmann</h5>
							</div>
						</div>
						<div class="carousel-item">
							<Image src={slide5Pic} alt="..." width={600} />
							<div class="carousel-caption d-none d-md-block">
								<h5>McKenna Ricklefs</h5>
							</div>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#homeCarousel"
						data-bs-slide="prev"
					>
						<span
							class="carousel-control-prev-icon"
							aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#homeCarousel"
						data-bs-slide="next"
					>
						<span
							class="carousel-control-next-icon"
							aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</WaveyMirror>
	</main>
</Layout>
<style>
	.homenav {
		margin-top: 6rem;
	}
</style>
